// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #fff;
$value-color: #fff;

$title-color: #000;
$label-color: #000;
$moreinfo-color: #000;

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-list {
  background-color: $background-color;
  vertical-align: top;

  .title {
    color: $title-color;
  }

  ol,
  ul {
    margin: 35px;
    text-align: left;
    color: $label-color;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 50px;
    font-weight: 600;
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;
  }

  .value {
    float: right;
    margin-left: 12px;
    font-weight: 600;
    color: $value-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }
  .time {
    float: right;
    text-align: center;
    width: auto;
    padding: 5px;
    border: 3px solid gray;
    border-radius: 10px;
  }
  .make {
    float: right;
    text-align: center;
    width: 80px;
    padding: 5px;
    border: 3px solid red;
    border-radius: 10px;
  }
  .regnum {
    float: left;
    text-align: center;
    width: 120px;
    padding: 5px;
    border: 3px solid green;
    border-radius: 10px;
  }
  .more-info {
    color: $moreinfo-color;
  }
}
