<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [50, 50]
  Dashing.numColumns = 20
});
</script>

<% content_for :title do %>Automated Task Scheduler<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="10" data-sizey="10">
      <div data-id="station1" data-view="List" data-unordered="true" data-title="Station 1" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="10" data-sizey="10">
      <div data-id="station2" data-view="List" data-unordered="true" data-title="Station 2" data-moreinfo="" style="background-color:#33aa77"></div>
    </li>
  </ul>
</div>
