// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #ffffff;

$title-color: #000000;
$text-color: #000000;
$moreinfo-color: #000000;

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-text {
  background-color: $background-color;

  .text {
    color: $text-color;
  }

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: #000000;
  }

  &.large h3 {
    font-size: 75px;
  }
}
